.container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.navBar {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.25rem;
    width: 22rem;
    height: min-content;

    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
}

.navBar a, .navBar button {
    display: flex;

    color: var(--gray-700);
    text-decoration: none;
    font-weight: 500;
}

.navBar a:hover, .navBar button:hover {
    color: var(--gray-300);
}

.navBar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.shoppingContent, .addressContent {
    min-height: calc(100vh - 12rem);
    padding: 2rem;

    background-color: var(--white);
    border-radius: 16px;
    flex: 1;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
}

.emptyShopping, .emptyAddress {
    padding: 4rem;
    text-align: center;
}

.tableContent {
    overflow-x: auto;
}

.tableContent table {
    width: 100%;
    border-collapse: collapse;
}

.tableContent th, td {
    padding: 15px;
    text-align: left;
}

.tableContent img {
    width: 8rem;
    height: 8rem;
    border-radius: 16px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
}
.tableContent td:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tableContent th:nth-child(2), .tableContent td:nth-child(2),
.tableContent th:nth-child(3), .tableContent td:nth-child(3) {
    text-align: center;
}

.addressContent {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.addressContent header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addressContent .btnAddAddress, .btnSaveAddress {
    background-color: var(--purple);
    color: var(--gray-100);
    border: none;
    cursor: pointer;

    padding: 0.75rem;
    border-radius: 16px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
}

.addressContent .btnAddAddress:hover, .btnSaveAddress:hover {
    background-color: var(--purple-dark);
}

.addressContainer {
    display: flex;
    flex-direction: column;
    max-width: min-content;
}

.address {
    background-color: var(--gray-100);
    width: max-content;
    height: min-content;

    padding: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 16px;
}

.address span {
    color: var(--gray-300);
}

.address ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.btnContent {
    display: flex;
    margin: 0.5rem;
    gap: 1.5rem;
    align-self: center;
}

.usualButton {
    background-color: var(--purple);
    color: var(--gray-100);
    border-radius: 16px;
    border: none;
    cursor: pointer;

    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    padding: 0.5rem;
}

.usualButton:hover {
    background-color: var(--purple-dark);
}


.formContainer {
    background-color: var(--gray-300);
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 2rem;
    color: var(--gray-100);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

    gap: 1rem;
    width: 50%;
}

.inputContent {
    display: flex;
    flex-direction: column;
}

.inputContent input {
    padding: 0.25rem 1rem;
    border-radius: 16px;
    border: none;
}

.formContainer .closeButton {
    background-color: transparent;
    border: none;
    color: var(--gray-100);
    margin: 1rem;
    cursor: pointer;
    
    position: absolute;
    top: 0;
    right: 0;
}

.formContainer .closeButton:hover {
    color: var(--gray-200);
}

.btnSaveAddress {
    width: 50%;
    align-self: center;
}

@media (max-width: 724px) {
    .container {
        flex-direction: column;
    }
    .navBar {
        width: fit-content;
    }
    .shoppingContent {
        width: 100%;
    }
    .addressContent {
        width: 100%;
    }
    .address {
        width: 100%;
    }
}