.container {
    display: flex;
    flex-direction: column;
}

.alert {
    background-color: var(--gray-400);
    color: var(--gray-100);
    padding: 2rem;
    margin: 2rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    position: absolute;
    position: fixed;
    z-index: 1000;
    box-shadow: 3px 3px 10px rgb( 0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow-y: auto;
    max-height: 90vh;
}

.alert header {
    color: red;
    border-radius: 16px;
    margin-bottom: 1rem;
}

.alert .textContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.alert button {
    align-self: center;
    padding: 1rem;
    cursor: pointer;
    background-color: var(--purple);
    color: var(--gray-100);
    border: none;
    border-radius: 16px;
    box-shadow: 3px 3px 10px rgb(0,0,0,0.2);
}

.alert button:hover {
    background-color: var(--purple-dark);
}

@media (max-width: 600px) {
    .alert {
        width: 80%;
        padding: 1rem;
        margin: 1rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .alert {
        width: 60%;
        padding: 1.5rem;
        margin: 1.5rem;
    }
}